#nowplay article {
  width: 100%;
  height: 1.1rem;
  overflow: hidden;
  font-size: 13px;
  color: #666; }
  #nowplay article img {
    float: left;
    width: 0.65rem;
    padding: 0.1rem;
    padding-left: 0.13rem; }
  #nowplay article aside {
    float: left;
    width: 2.55rem;
    height: 0.88rem;
    padding: 0.1rem;
    padding-left: 0px;
    padding-right: 0.13rem;
    border-bottom: 1px solid #ccc;
    position: relative; }
    #nowplay article aside b {
      color: #faaf00;
      font-size: 15px; }
    #nowplay article aside p {
      width: 75%;
      height: 0.2rem;
      line-height: 0.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #nowplay article aside h3 {
      font-size: 17px;
      margin-bottom: 0.06rem;
      color: #000; }
      #nowplay article aside h3 #imax {
        margin-left: 5px; }
        #nowplay article aside h3 #imax i {
          font-style: normal;
          font-size: 12px;
          border: 1px solid #3c9fe6; }
        #nowplay article aside h3 #imax i:nth-child(1) {
          background: #3c9fe6;
          color: #fff; }
        #nowplay article aside h3 #imax i:nth-child(2) {
          background: #fff;
          color: #3c9fe6; }
    #nowplay article aside div {
      position: absolute;
      right: 10px;
      top: 40px;
      width: 0.4rem;
      height: 0.25rem;
      line-height: 0.25rem;
      text-align: center;
      border-radius: 5px;
      color: #fff; }
    #nowplay article aside div#goupiao {
      background: #f03d37; }
    #nowplay article aside div#yushou {
      background: #3c9fe6; }

#nowplay .homeActive {
  border-bottom: 1px solid blue;
  color: #e54847; }
