@import "../../../common";

#nowplay{
	nav{
		width:100%;
		height:$homeNavHeight;
		line-height:$homeNavHeight;
		position:fixed;
		top:$navbarHeight;
		left:0;
		border-bottom:1px solid #ccc;
		background:#fff;
		display:flex;
		div{
			text-align:center;
		}
		div:nth-child(1){flex:1;}
		div:nth-child(2){
			flex:3;
			display:flex;
			a{
				display:block;
				width:50%;
				margin-left:0.15rem;
				margin-right:0.15rem;
				font-weight:bold;
			}
		}
		div:nth-child(3){
			flex:1;
			i{
				padding-left:pxToRem(28px);
				font-size:pxToRem(19px);
				color:#e54847;
				font-weight:bold;
			}
		}
	}
	section{
		width:100%;
		height:100%;
		padding-top:$homeNavHeight;
		padding-bottom:$navbarHeight;
		article{
			width:100%;
			height:1.1rem;
			overflow:hidden;
			font-size:13px;
			color:#666;
			img{
				float:left;
				width:pxToRem(65px);
				padding:pxToRem(10px);
				padding-left:pxToRem($homeBlank);
			}
			aside{
				float:left;
				width:2.55rem;
				height:0.88rem;
				padding:pxToRem(10px);
				padding-left:0px;
				padding-right:pxToRem($homeBlank);
				border-bottom:1px solid #ccc;
				b{
					color:#faaf00;
					font-size:15px;
				}
				p{
					width:75%;
					height:pxToRem(20px);
					line-height:pxToRem(20px);
					white-space:nowrap;
					overflow:hidden;
					text-overflow:ellipsis;
				}
				h3{
					font-size:17px;
					margin-bottom:pxToRem(6px);
					color:#000;
					#imax{
						margin-left:5px;
						i{
							font-style:normal;
							font-size:12px;
							border:1px solid #3c9fe6;
						}
						i:nth-child(1){
							background:#3c9fe6;
							color:#fff;
						}
						i:nth-child(2){
							background:#fff;
							color:#3c9fe6;
						}
					}
				}
			}
		}
	}
	
	.homeActive{
		border-bottom:1px solid blue;
		color:#e54847;
	}
}